@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  .no-print-break {
    // display: block !important;
    position: relative !important;
    page-break-inside: avoid !important;
    -webkit-column-break-inside: avoid !important;
    page-break-before: auto !important;
    page-break-after: auto !important;
    break-inside: avoid !important;
  }

  .no-print-break:after {
    display: block;
    height: 0px;
    visibility: hidden;
  }

  a {
    text-decoration: none !important;
  }

  .recharts-wrapper,
  .recharts-surface {
    width: 100% !important;
  }

  // .calendar-activities {
  //   width: 100% !important;
  // }
}

@page {
  size: A4;
}
