@import "~react-toggle/style.css";

.react-toggle-track {
  .fa {
    font-size: 12px;
  }
}

.react-toggle-track {
  background-color: #adb5bd !important;
}
.react-toggle-thumb {
  border: 1px solid #adb5bd !important;
}

.react-toggle--checked .react-toggle-track {
  background-color: #1bb934 !important;
}
