.s-table {
  table-layout: auto;
  td {
    padding: 0.5rem 0.5rem;
    color: currentColor;
    min-height: 50px;
    vertical-align: top;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  th {
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    font-size: 12px;
    font-weight: 300 !important;
    color: currentColor;
    border-bottom: 2px solid #ddd;

    @media screen and (prefers-color-scheme: dark) {
      border-color: $gray-700;
    }
  }
  td:not(:last-child) {
    border-right: 1px solid #ddd;

    @media screen and (prefers-color-scheme: dark) {
      border-color: $gray-700;
    }
  }
  tr:not(:last-child) {
    td {
      border-bottom: 1px solid #ddd;

      @media screen and (prefers-color-scheme: dark) {
        border-color: $gray-700;
      }
    }
  }
  tr.odd {
    td {
      background-color: rgba(173, 181, 189, 0.075);
    }
  }
}
