@import "./framework/style";

@import "./bootstrap.scss";
@import "./plugins/plugins.scss";
@import "./bounce-animation.scss";

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  .no-print-break {
    page-break-inside: avoid !important;
  }

  a {
    text-decoration: none !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}
